body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-color: #121417;
}

.feather {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: currentColor;
    position: relative;
    top: -2px;
  }
  
  .feather-24 {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: currentColor;
    position: relative;
    top: -1px;
  }
  
  .feather-28 {
    width: 28px;
    height: 28px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    position: relative;
  }
  
  .feather-48 {
    width: 48px;
    height: 48px;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    position: relative;
  }