*{
    margin:0px;
    padding:0px;
}

div#general{
  margin: auto;
  margin-top: 30px;
  width: 960px;
  height: 800px;
  background-color:palevioletred;
}

div#reproductor{
    width: 200px;
    height: 200px;
    background-color: rgb(89, 152, 247);
}

div#botones{
    width: 200px;
    height: 146px;
    background-color:palevioletred
}
div#botones,tr,td,button{
    margin-top: 30px;
    padding-left: 15px;
}

div#opciones{
    width: 200px;
    height: 422px;
    background-color:palevioletred;
}
div#canciones{
    float: right;
    width:760px;
    height:800px;
    background-color: aquamarine;
}